# @package _global_
# problem args

problem: "cvrp"
graph_size: 50
coords_dist: 'uchoa'
out_name: ${problem}_${graph_size}_${coords_dist}
data_file_path: data/test_data/${problem}/${coords_dist}/${problem}${graph_size}/val_seed123_size512.pt
normalize_data: False

# RP Env cfg
env_kwargs:
  generator_args:
    coords_sampling_dist: ${coords_dist}
    # if None in the following two args, then all are mixed
    depot_type: E # Depot Position (uchoa only): C = central (500, 500), E = eccentric (0, 0), R = random
    customer_type: R # Customer Position (uchoa only): C = Clustered, RC = Random-Clustered (half half), R = Random
    demand_type: 0  # if None demand will be a mixture of above demand distributions
  sampling_args:
    sample_size: 1024
    graph_size: ${graph_size}
    k: 8
    cap: 40